<div class="user-item">
    <div>
      id:{{currentUser.id}}
    </div>
    <div>
      username:{{currentUser.username}}
    </div>
    <div>
      email:{{currentUser.email}}
    </div>
    <div>
      <input type="text" placeholder="email" [value]="currentUser.email" #emailInput/>
    </div>
    <div>
      <input type="text" placeholder="name"   [value]="currentUser.username" #nameInput />
    </div>
    <div>     
    <button (click)="saveUserData(emailInput.value,nameInput.value)">Save</button>
    </div>
    <ul>
      <ng-container *ngIf="arrayUser; else NoResult">
      <li [ngClass]="{selected:currentUser?.id===user.id}" *ngFor=" let user of arrayUser" 
      (click)="onUserSelected(user)" [value]="user.username">
    
          <b>{{user.username}}</b>
      
      </li>
     </ng-container>
     <ng-template #NoResult>
       No Result.
     </ng-template>
    </ul>
  </div>